body {
  display: flex;
  justify-content: center;
}

h1 {
  padding-bottom: 0.4em;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
  border: solid 1px var(--primary-border-color);
  border-radius: var(--primary-border-radius);
}

.inputField {
  padding: 0.5em;
  margin: 0.5em;
}

.submit-button {
  background-color: var(--primary-button-background);
  border: solid var(--primary-button-border);
  color: var(--primary-button-text);
}

.submit-button:hover {
  border: solid var(--primary-button-hover);
}
