.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary-background);
}

.loginContainer {
  width: 320px;
  padding: 20px;
  padding-bottom: 0px;
  border: 1px solid var(--primary-border-color);
  background-color: var(--secondary-background); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

h1 {
  color: #ddd; 
}

.show-pass-btn {
  position: absolute;
  right: 10px; 
  top: 41%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 52px;
  cursor: pointer;
  z-index: 1;
}

.show-pass-btn > span {
  fill: gray;
}

.inputContainer {
  position: relative;
}

.loginContainer label {
  color: #bbb; 
  font-size: 18px;
}

.inputField {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid var(--primary-button-background); 
  border-radius: 4px;
  background-color: #333; 
  color: #ddd; 
}

.loginContainer input {
  margin-top: 10px; /* Adjust the value as needed */
}

.submit-button {
  font-weight: bold;
  width: 120px;
  padding: 16px;
  background: var(--secondary-button-background);
  border: 2px solid var(--secondary-button-border);
  border-radius: 5px;
  color: var(--secondary-button-text);
}

.submit-button:hover {
  background-color: var(--secondary-button-hover); 
}

.errorMessage {
  color: #ff6666; 
}

.link-to-sign-up {
  color: #bbb; 
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  font-style: italic;
}

.link-to-sign-up-page {
  color: var(--subheading-text-color); 
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  text-decoration: none; 
  font-style: italic;
}

.link-to-sign-up-page:hover {
  color: var(--secondary-button-hover);
}

.link-to-sign-up-page:active {
  color: var(--primary-button-background); 
}

.inputField {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 12px 12px 30px; 
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #333;
  color: #ddd;
  background-size: 16px 16px;
  background-position: 8px center;
  background-repeat: no-repeat;
  font-size: 16px;
}

.inputFieldEmail {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"><path d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg>');
}

.inputFieldPassword {
  margin-bottom: 25px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>');
}

.error-message {
  color: red;
  margin-top: 15px;
  font-style: italic;
}

@media (max-width: 320px) {
  .inputField {
    width: calc(100% - 12px);
  }

  .loginContainer {
    width: calc(100% - 12px);
  }
}