@import "../../global-styles/Global-Styles.css";
body {
  display: flex;
  justify-content: center;
}

h1 {
  padding-bottom: 0.4em;
}

.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}

.inputField {
  padding: 0.5em;
  margin: 0.5em;
}

.submit-button {
  padding-top: 10px;
  background-color: var(--primary-button-background);
  border-color: var(--primary-button-border);
  color: var(--primary-button-text);
}
