.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--secondary-background);
}

.registerContainer {
  width: 320px;
  padding: 20px;
  padding-bottom: 0px;
  border: 1px solid var(--primary-border-color);
  background-color: var(--primary-background); 
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.registerPage h1 {
  color: #ddd; 
}

.inputField {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid var(--primary-button-background); 
  border-radius: 4px;
  background-color: #333; 
  color: #ddd; 
  font-size: 16px;
}

.input-field-password {
  margin-bottom: 130px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"/></svg>');
}

.submit-button-register {
  font-weight: bold;
  width: 120px;
  padding: 16px;
  background: var(--secondary-button-background);
  border: 2px solid var(--secondary-button-border);
  border-radius: 5px;
  color: var(--secondary-button-text);
  margin-top: 15px;
}

.submit-button-register:hover {
  background-color: var(--secondary-button-hover); 
}

.link-to-register {
  color: #bbb; 
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
}

.link-to-register-page {
  color: var(--subheading-text-color); 
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
  text-decoration: none; 
  font-style: italic;
}

.link-to-register-page:hover {
  color: var(--secondary-button-hover);
}

.link-to-register-page:active {
  color: var(--primary-button-background); 
}

.registerContainer input {
  margin-top: 8px; 
}

.errorMessage {
  color: #ff6666;
  margin-top: 20px; 
  font-style: italic;
}

.input-container-register {
  position: relative;
}

.show-pass-btn-register {
  position: absolute;
  right: 10px; 
  top: 64%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 42px;
  cursor: pointer;
  z-index: 1;
}

.show-pass-btn-register > span {
  fill: gray;
}

@media (max-width: 320px) {
  .inputField {
    width: calc(100% - 12px);
  }

  .registerContainer {
    width: calc(100% - 12px);
  }
}