.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.card-front,
.card-back {
  border: 1px solid;
  width: 600px;
  height: 400px;
  padding: 20px;
  border-radius: var(--primary-border-radius);
  border-color: var(--primary-border-color);
  font-size: var(--h3-text-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--secondary-background);
}

.hint-section {
  position: absolute;
  bottom: 15px;
  left: 10px;
  color: var(--hint-text-color);
  display: flex;
  align-items: center;
}

.hint-text {
  text-align: left;
  max-width: 520px;
  margin: 0;
  padding: 3px 10px;
  border-radius: 10px;
  white-space: normal;
  background-color: var(--hint-background);
  font-size: var(--p-text-size);
}

.hint-icon {
  padding-bottom: 6px;
  cursor: pointer;
}

.hint-icon-container {
  margin-right: 5px;
  cursor: pointer;
}

.skip-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skip-button {
  cursor: pointer;
}

.thinRight {
  padding-left: 10px;
}

.thinLeft {
  padding-right: 10px;
}

@media (max-width: 730px) {
  .card, .card-front, .card-back {
    width: 97%;
    padding: 20px;
  }
}