.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front,
.card-back {
  position: relative;
  width: 600px;
  height: 100%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--secondary-background);
  border: 1px solid;
  border-radius: var(--primary-border-radius);
  border-color: var(--primary-border-color);
  font-size: var(--h3-text-size);
}

.card-back {
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.hint-section {
  position: absolute;
  bottom: 8px;
  left: 10px;
  color: var(--hint-text-color);
  display: flex;
  align-items: center;
}

.hint-icon {
  padding-bottom: 6px;
  cursor: pointer;
}

.hint-icon-container {
  margin-right: 5px;
  cursor: pointer;
}

.hint-text {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: var(--hint-background);
  font-size: var(--p-text-size);
}

.skip-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.skip-button {
  cursor: pointer;
}
