.card {
  width: 600px; /* Adjust the width as needed */
  background-color: var( --secondary-background);
  color: white;
  border: 1px solid white; /* Thin white border */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add padding for better spacing */
  margin: 10px; /* Adjust margin as needed */
}

.card-front,
.card-back {
  /* You can add specific styles for the front and back of the card if needed */
}

.hint-button {
  background-color: transparent;
  border: none;
  top: 0;
  right: 0;
  cursor: pointer;
}

.hint-text {
  color:var(--highlight-button-text);
}

.got-it-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 20px;
  padding-top: 0px;
}

.got-it-button svg {
  width: 30px;
  height: 30px;
}

.got-it-button > svg > path {
  fill: white; /* Set the desired color for the SVG path */
  transition: fill 0.3s ease; /* Add a transition for smooth color changes */
}

.got-it-button:hover > svg > path {
  fill: var( --green-button-hover); /* Set the desired hover color for the SVG path */
}

.got-it-button:focus > svg > path {
  fill: var(--green-button-text); /* Set the desired focus color for the SVG path */
}

/* keep it button */
.keep-button {
  font-weight: bold;
  width: 90px;
  padding: 10px;
  background: var(--highlight-button-background);
  border: 2px solid var(--highlight-button-border);
  border-radius: 5px;
  color: var(--highlight-button-text);
}

.keep-button:hover {
  background: var(--highlight-button-border);
}

.show-answer-button {
  font-weight: bold;
  width: 140px;
  padding: 16px;
  background: var(--highlight-button-background);
  border: 2px solid var(--highlight-button-border);
  border-radius: 5px;
  color: var(--highlight-button-text);
}

.show-answer-button:hover {
  background: var(--highlight-button-hover);
}

.hint-text {
  font-style: italic;
  margin-top: 10px;
}

.hint-button svg {
  width: 25px;
  height: 25px;
  margin-left: 500px;
  margin-top: -90px;
  fill: var(--highlight-button-text);
}

