.p-deck-card {
  font-size: var(--p-text-size);
  color: var(--secondary-topic-text);
  text-transform: uppercase;
  display: inline-block;
  padding: 5px;
  border: solid;
  border-color: var(--secondary-topic-border);
  border-radius: 5px;
  margin: 5px;
}
.h3-deck-card {
  font-size: 20px;
  margin: 5px;
}

.terms-deck-card {
  color: #a1aebf;
  margin: 5px;
}

.deck-card {
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  padding: 2px 20px;
  /*width: 40%; */
  width: 300px;
  box-sizing: border-box;

  margin-bottom: 20px;
  margin-right: 5px;
}
