.decks-container {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-start;
}

.new-deck-button {
  color: var(--secondary-topic-text);
  text-transform: uppercase;
  border: solid;
  border-color: var(--secondary-topic-border);
  margin-bottom: 1rem;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}

.new-deck-button:hover {
  background-color: #2980b9;
  color: white;
}

.new-deck-button:active {
  background-color: #1f618d;
}

@media (max-width: 750px) {
  .decks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
