.home-container {
  height: auto;
  width: 100%;
}
.deck-title {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: end;
}
.button-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: flex-start;
}
.new-deck-button {
  color: var(--secondary-topic-text);
  text-transform: uppercase;
  border: solid;
  border-color: var(--secondary-topic-border);
  margin-bottom: 1rem;
  background-color: transparent;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}

.new-deck-button:hover {
  background-color: #2980b9;
  color: white;
}

.new-deck-button:active {
  background-color: #1f618d;
}

.decks-container {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.no-private-decks {
  color: #a1aebf;
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 630px) {
  .decks-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1000px) {
  .deck-title {
     width: 90%;
  }
}
