.resourcePage {
  margin-top: 83px;
  width: 100%;
  height: 100%;
}

.resources-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources-title {
  display: flex;
  width: 100%;
  max-width: 1250px;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.resources-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: 100%;
  max-width: 1250px;
  color: var(--subheading-text-color);
  border-radius: var(--primary-input-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 500px;
}

.add-resource-btn {
  padding: 0;
  height: 50px;
  background: var(--secondary-button-background);
  border: 1px solid var(--secondary-button-border);
  color: var(--secondary-button-text);
  cursor: pointer;
}

.add-resource-btn:hover {
  background: var(--secondary-button-hover);
}

.resourceInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  font-size: 14px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--primary-border-color);
  background: var(--primary-input-background);
  border-radius: var(--primary-input-radius);
  color: var(--subheading-text-color);
}

.button-add-resource {
  color: var(--secondary-button-text);
  background: var(--secondary-button-background);
  border: 2px solid var(--secondary-button-border);
  padding: 10px 15px;
  cursor: pointer;
  transition:
    background 0.3s,
    color 0.3s;
}

.button-add-resource:hover {
  background: var(--secondary-button-hover);
  color: var(--secondary-button-text-hover);
}

.resources-list-topic {
  display: flex;
  width: 90%;
  flex-direction: column;
  border-radius: var(--primary-input-radius);
}

.resources-list-topic2 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin: 10px 0px;
  padding: 0px;
  border-radius: var(--primary-input-radius);
  box-shadow: 0 0 5px var(--secondary-topic-border);
  background-color: var(--secondary-background);
  color: var(--secondary-topic-border);
}

.resources-list h2 {
  margin-bottom: 15px;
  margin-left: 15px;
  padding-left: 0px;
  font-size: 1.5em;
  color: #ededed;
}

.resources-list h3 {
  margin-bottom: 0px;
  margin-left: 30px;
  padding-bottom: 10px;
  font-size: 1.2em;
  color: #ededed;
}

.resources-list ul {
  list-style: none;
  padding: 10px 0;
  margin: 0;
}

.resources-list li {
  margin-left: 50px;
  margin-bottom: 15px;
}

.resources-list li a {
  color: #ededed;
  text-decoration: none;
  transition: color 0.3s;
}

.resources-list li a:hover {
  color: var(--link-text-hover-color);
}

.modal {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: 8rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-resource {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: fit-content;
  padding: 20px;
  border: 1px solid var(--primary-border-color);
  color: var(--subheading-text-color);
  border-radius: var(--primary-input-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 auto;
  top: 20px;
  background: var(--primary-background);
}

.add-resource h2 {
  margin-bottom: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 460px) {
  .add-resource {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .resources-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .resources-title {
    flex-direction: column;
  }

  .resources-title h1 {
    margin-bottom: 0px;
  }
}

