.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchBar {
  width: 10%;
  padding-right: 20rem;
}

.navigation {
  width: 60%;
  padding-left: 25rem;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin-right: 10px;
}

.authButtons {
  display: flex;
  gap: 15px;
}
