.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), 
        width var(--animation-timing), 
        rotate var(--animation-timing), 
        translate var(--animation-timing), 
        background-color var(--animation-timing);
}

.hamburger-menu:has(input:checked) {
    --foreground: var(--highlight-button-border);
    --background: var(--primary-button-background);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 25;
    cursor: pointer;
    display: none;
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.dropdown {
  display: none; 
}

.nav {
  top: 0;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 65px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-background);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.right-nav-ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.authButtons {
  display: flex;
  gap: 10px;
}

.first-group { 
  margin-left: auto;
}

.first-group li {
  display: inline;
}

.second-group {
  margin-left: auto;
}

.right-nav-ul li {
  margin-right: 10px;
}

.right-nav-ul li:last-child {
  margin-right: 0; 
}

.right-nav-ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
}

.right-nav-ul li a:hover {
  background-color: #333;
}

.menu {
  display: flex; 
  align-items: center;
}

.navbar-button {
  font-size: 20px;
  font-weight: 800;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.menu a {
  color: #fff; 
  text-decoration: none; 
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #333; 
}

.second-group a:hover {
  background-color: #333; 
}

.menu .resources:hover,
.menu .about:hover {
  transform: scale(1.1);
}

.logo {
  width: 160px; 
  margin-left: 5px;
}

.log-out-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 14px;
}

.log-out-button svg {
  fill: #fff;
  height: 20px; 
  width: 20px; 
}

.authButtons button {
  font-weight: bold;
  width: 100px;
  padding: 16px;
  border: 2px solid var(--secondary-button-border);
  border-radius: 5px;
  margin: 10px;
}

.log-in-button {
  background: var(--primary-button-background);
  color: var(--primary-button-text);
  cursor: pointer;
}

.log-in-button:hover {
  background: var(--primary-button-hover);
}

.sign-up-button {
  background: var(--highlight-button-background);
  color: var(--highlight-button-text);
  cursor: pointer;
}

.sign-up-button:hover {
  background: var(--highlight-button-hover);
}

.username {
  font-size: 14px; 
  color: #fff;
  margin-right: 8px; 
}

.menu .resources,
.menu .about {
  font-size: 14px;
}


@media (max-width: 600px) {
  .username {
    display: none;
  }

  .right-nav-ul {
    display: flex;
    justify-content: center; 
    width: 300px;
    left: 0;
  }

  .hamburger-menu {
    display: flex;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

  .sidebar {
    display: flex;
    align-items: center;
    transform: translateX(100%); 
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 2rem);
    top: 0;
    right: 0;
    transition: 350ms ease-in-out;
  }

  .sidebar.open {
    transform: translateX(0);
    top: 0;
    right: 0;
  }

  .sidebar.open .buttons {
    visibility: visible;
    opacity: 1;
  }

  .authButtons {
    display: flex;
    flex-direction: column;
  }

  .dropdown {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .first-group, .second-group { 
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin-right: 0px;
    text-align: center;
    padding-right: 40px;
    width: 100%;
  }

  .first-group li a,
  .second-group li a {
    padding:0px;
  }

  .first-group li,
  .second-group li,
  .authButtons button,
  .navbar-button a
   {
    cursor: pointer;
    margin-top: 1rem;
    background-color: transparent;
    width: auto;
    border: none;
    margin-left: 0px;
    color: #fff;
    font-size: 20px !important;
    text-transform:capitalize !important;
    padding: 7px 14px !important;
    border-radius: 0px !important;
    height: 55px;
    width: 100%;
  }

  .authButtons button {
    margin-bottom: 0px;
  }

  .log-in-button a,
  .log-out-button button {
    margin-bottom: 20px;
  }

  .authButtons {
    gap: 0px;
  }

  .navbar-button {
    margin-top: 0; 
    width: 100%;
    min-width: auto; 
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: 350px;
  }

  .menu {
    flex-direction: column;
    width: 100%;
  }

  .menu a {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #fff; 
  }

  .menu a:last-child {
    border-bottom: none; 
  }

  .log-out-button a {
    margin-top: 20px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  .right-nav-ul .log-in-button,
  .right-nav-ul .sign-up-button,
  .right-nav-ul .login-button,
  .right-nav-ul .log-out-button,
  .right-nav-ul .navbar-button li,
  .right-nav-ul li {
    background: linear-gradient(to right, #7938b2 0%,rgba(255,255,255,0) 69%);
    width: 100%;
    height: 80px;
    align-items: left;
  }
  
  .right-nav-ul .log-in-button,
  .right-nav-ul .sign-up-button,
  .right-nav-ul .login-button,
  .right-nav-ul .log-out-button {
    line-height: 1; 
  }
  
  .right-nav-ul .navbar-button li {
    padding-top: 20px; 
  }
  
  .right-nav-ul li a:hover {
    background-color: transparent;
  }
  
  .second-group a:hover,
  .right-nav-ul .navbar-button li:hover {
    background-color: transparent;
  }

  .right-nav-ul .second-group li:hover,
  .right-nav-ul .first-group li:hover,
  .right-nav-ul .sign-up-button:hover,
  .right-nav-ul .log-in-button:hover,
  .right-nav-ul .sign-up-button:hover,
  .right-nav-ul .log-out-button:hover
  {
    background: linear-gradient(to right, rgb(64, 11, 52) 0%,rgba(255,255,255,0) 69%);
  }

  .authButtons a {
    text-decoration: none;
  }

  .logo {
    margin-left: 0px;
    width: 120px;
  }

  .loginItems button.log-out-button {
    margin-top: 16px;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-nav-ul .buttons .first-group li {
    background-color: red;
    padding-top: 20px;
    height: 80px; 
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    list-style: none !important;
  }

  .right-nav-ul .buttons .first-group a,
  .right-nav-ul .buttons .first-group li a
  {
    text-decoration: none;
  }


.right-nav-ul .buttons .first-group li a {
  text-decoration: none !important;
  color: inherit;
}

}

@media (max-width: 315px) {

  .sidebar {
    padding-right: 100px;
  }

  .buttons {
    margin-left: -50px;
    padding-left: 0px;
    margin-right: 20px;
  }

  .logo {
    margin-left: 0px;
  }

  .right-nav-ul .log-in-button,
  .right-nav-ul .sign-up-button,
  .right-nav-ul .login-button,
  .right-nav-ul .log-out-button,
  .right-nav-ul .navbar-button li,
  .right-nav-ul li {
    background: var(--highlight-button-hover);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}