.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchBar {
  width: 10%;
  padding-right: 25px;
}

.navigation {
  width: 60%;
  padding-left: 25rem;
}

.loginButtons {
  width: 20%;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navigation li {
  margin-right: 10px;
}

.loginButtons {
  display: flex;
  gap: 10px;
}
